@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik80sFade-Regular';
  src: url('/fonts/Rubik80sFade-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TiltWarp-Regular';
  src: url('/fonts/TiltWarp-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TiltNeon-Regular';
  src: url('/fonts/TiltNeon-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree-VariableFont_wght';
  src: url('/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Figtree-VariableFont_wght', fallback, sans-serif;
  color: white;
  background: radial-gradient(circle, rgba(252,198,188,1) 0%, rgba(255,167,86,1) 55%);
}
